<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rover Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        var numberOfRows = '@Html.Raw(ViewBag.NumberOfRows)';
        var numberOfColumns = '@Html.Raw(ViewBag.NumberOfColumns)';
        var communicationLatenceInMilliseconds = '@Html.Raw(ViewBag.CommunicationLatenceInMilliseconds)';
    </script>
</head>
<body>
    

    <div class="container body-content">
        <div id="btnGet" class="btn btn-primary btn-lg">(Re-) Start Rover</div>
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gururaj Kulkarni</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/RoverApplication")
    @RenderSection("scripts", required: false)

</body>
</html>
